# © 2025 The Johns Hopkins University Applied Physics Laboratory LLC
# Core scientific and data packages
numpy==2.4.4
pandas==2.3.3
scipy==1.17.0
scikit-learn==1.8.0
pyyaml==6.0.3

# Optional: for backward compatibility with Python <3.11
typing-extensions==4.15.0

# Development / testing utilities
pytest==9.0.2
flake8==7.3.0
pylint==3.3.8
black==26.1.0
pytest-datadir==1.8.0

# GUI Packages
streamlit==1.54.0
chardet==5.2.0
plotly==6.5.2
python-docx==1.2.0
matplotlib==3.10.7
